@use "./Play.scss" as *;

.Cell {
    background-color: #444;
}

.Cell--right-wall {
    border-right: $wall-width solid var(--clr-neutral-900);
    position: relative;

    &::after {
        content: "";

        width: $wall-width;
        height: $wall-width;
        background-color: var(--clr-neutral-900);

        position: absolute;
        right: -$wall-width;
        bottom: calc(100% + 1px);
    }
}

.Cell--bottom-wall {
    border-bottom: $wall-width solid var(--clr-neutral-900);
}

.Cell--start {
    background-color: mix(red, #444, 20%);
}

.Cell--exit {
    background-color: mix(green, #444, 20%);
}
