.Play {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

$cell-size: 5em;

.board-frame {
    width: 5 * $cell-size;
    height: 5 * $cell-size;
    overflow: hidden;

    border: 2px solid white;
    box-shadow: 1em 1em 0 0 rgba(0, 0, 0, .8);
}

.board {
    display: grid;
    
    --cells-count: 5; // default overridden trough JavaScript
    grid-template-columns: repeat(var(--cells-count), $cell-size);
    grid-template-rows: repeat(var(--cells-count), $cell-size);

    --player-x: 0;
    --player-y: 0;
    transform: translate(
        calc($cell-size * max(var(--player-x) - 2, 0) * -1),
        calc($cell-size * max(var(--player-y) - 2, 0) * -1)
    ); // trough JavaScript
}
