@use "./color";

body {
    font-family: "Source Sans Pro", Arial, sans-serif;

    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-900);

    ::selection {
        background-color: var(--clr-primary-600);
    }
}
