.Card {
    border: 1px solid var(--bc, var(--clr-neutral-900));
    background-color: var(--bgc, var(--clr-primary-300));

    padding: var(--pad, 2em);

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        .step-number {
            // display: grid;
            // place-items: center;

            $value: 2.5rem;

            aspect-ratio: 1 / 1;
            width: $value;
            height: $value;
            // text-align: center;

            font-size: $value;
            line-height: $value;
            font-weight: bold;
        }

        .step-title {
            font-size: 1.5rem;
            margin: 0;
        }
    }
}
