.ServerSetup {

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        .step-number {
            // display: grid;
            // place-items: center;

            $value: 2.5rem;

            aspect-ratio: 1 / 1;
            width: $value;
            height: $value;
            // text-align: center;

            font-size: $value;
            line-height: $value;
            font-weight: bold;
        }

        .step-title {
            font-size: 1.5rem;
            margin: 0;
        }
    }

    .form {
        .form-label,
        .form-input {
            display: block;
            width: 100%;
        }

        .form-input {
            margin-top: 0.3em;
            padding: 0.3em;

            border-radius: 0;
            border: none;
            background-color: var(--clr-neutral-900);

            font: inherit;
            color: var(--clr-neutral-100);

            &:focus {
                outline: 0.2em solid var(--clr-primary-600);
            }

            &::selection {
                color: var(--clr-neutral-900);
                background-color: var(--clr-neutral-100);
            }
        }
    }

    .connect-btn,
    .next-btn {
        width: 100%;
    }

    .message {
        display: inline-block;
        font-size: 1.1rem;
        padding: 0.2em 0.5em;
        margin-top: 0;

        background-color: var(--bgc, inherit);
        color: var(--c, inherit);

        &--valid {
            --bgc: var(--clr-success-700);
            --c: var(--clr-success-100);
        }
        &--info {
            --bgc: var(--clr-info-700);
            --c: var(--clr-info-100);
        }
        &--error {
            --bgc: var(--clr-error-700);
            --c: var(--clr-error-100);
        }

        &::selection {
            background-color: var(--c);
            color: var(--bgc);
        }

        &:empty {
            display: none;
        }
    }
}
