.ServerSetup {
    .checkbox-box {
        margin: 1.5em 0;
        padding: 1em;
        font-size: 1.2rem;
        background-color: var(--clr-primary-100);

        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 0.5em;
        accent-color: var(--clr-primary-600);
    }

    .form {
        .form-label,
        .form-input {
            display: block;
            width: 100%;
        }

        .form-input {
            margin-top: 0.3em;
            padding: 0.3em;

            border-radius: 0;
            border: none;
            background-color: var(--clr-neutral-900);

            font: inherit;
            color: var(--clr-neutral-100);

            &:focus {
                outline: 0.2em solid var(--clr-primary-600);
            }

            &::selection {
                color: var(--clr-neutral-900);
                background-color: var(--clr-neutral-100);
            }
        }
    }

    .form ~ .connect-btn {
        margin-top: 2em;
    }

    .connect-btn,
    .next-btn {
        width: 100%;
    }

    .message {
        display: inline-block;
        font-size: 1.1rem;
        padding: 0.2em 0.5em;
        margin-top: 1.5em;
        margin-bottom: 0;

        background-color: var(--bgc, inherit);
        color: var(--c, inherit);

        &--valid {
            --bgc: var(--clr-success-700);
            --c: var(--clr-success-100);
        }
        &--info {
            --bgc: var(--clr-info-700);
            --c: var(--clr-info-100);
        }
        &--error {
            --bgc: var(--clr-error-700);
            --c: var(--clr-error-100);
        }

        &::selection {
            background-color: var(--c);
            color: var(--bgc);
        }

        &:empty {
            display: none;
        }
    }
}
