.Home .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    height: 100vh;
}

.Home__logo {
    display: flex;
    align-items: center;
    gap: 1em;

    &-img {
        max-width: 10ch;
    }

    &-text {
        font-size: 2.3rem;
        font-weight: bold;
    }
}

.Home__btn::after {
    content: "";

    display: inline-block;

    margin-left: .5em;
    border: 5px solid transparent;
    border-right: none;
    border-left-color: var(--clr-neutral-900);
}